.switch {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 45px;
}

.switch input { 
	display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  -webkit-transition: .5s;
  transition: .5s;
  border-radius: 45px;
  border:2px solid #cccccc;
}

.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 35px;
  left: 7px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .5s;
  transition: .5s;
  border-radius: 50%;
  border:2px solid #cccccc;
}

input:checked + .slider {
  background-color: #5df774;
  border:2px solid #5df774;
}

input:checked + .slider:before {
  -webkit-transform: translateX(45px);
  -ms-transform: translateX(45px);
  transform: translateX(45px);
  border:2px solid white;
}